<style type="text/css">
#login-container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -70%, 0);
    width: 420px;
    height:
}
#login-form {
    min-height: 285px;
    margin: 0 auto;
    border: 1px solid #dbdbdb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 8px rgba(199, 199, 199, 0.25), -1px -1px 8px rgba(199, 199, 199, 0.25), 0 1px 1px #ffffff inset;
    -moz-box-shadow: 1px 1px 8px rgba(199, 199, 199, 0.25), -1px -1px 8px rgba(199, 199, 199, 0.25), 0 1px 1px #ffffff inset;
    box-shadow: 1px 1px 8px rgba(199, 199, 199, 0.25), -1px -1px 8px rgba(199, 199, 199, 0.25), 0 1px 1px #ffffff inset;
    background-color: #ffffff;
    background-image: -moz-linear-gradient(center top, #f4f4f4, #ffffff);
    background-image: -ms-linear-gradient(top, #f4f4f4, #ffffff);
    background-image: -webkit-linear-gradient(top, #f4f4f4, #ffffff);
    background-image: -o-linear-gradient(top, #f4f4f4, #ffffff);
    background-image: linear-gradient(top, #f4f4f4, #ffffff);
    box-shadow: #c7c7c7 0px 0px 1px\0;
    -pie-background: linear-gradient(#f4f4f4, #ffffff);
}
.legend {
    padding: 15px 0 15px 30px;
    font-weight: bold;
    color: #5d5d5d;
    line-height: 1;
}
#login-form hr {
    width: 410px;
    border: 0;
    border-top: 2px solid #d5d5d5;
    border-bottom: 1px solid #ffffff;
    margin: 0 auto 0 auto;
    color: #555;
}
#login-form hr.decoration {
    width: 140px;
    border-top: 2px solid #4288c5;
    position: absolute;
    left: 5px;
    top: 45px;
}
#login-form fieldset {
    margin: 0 0 30px 0;
    padding: 0 48px;
    border: none;
}
#login-form .form-item {
    margin-bottom: 15px;
}
#login-form .form-action {
    margin: 30px 0 15px;
}
#login-form input[type="text"], #login-form input[type="password"] {
    font-size: 13px;
    display: inline-block;
    position: relative;
    width: 300px;
    height: 16px;
    margin: 0;
    padding: 10px;
    vertical-align: top;
    line-height: 18px;
    background-color: white;
    border: 1px solid #CCC;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08) inset;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08) inset;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08) inset;
}
#login-form .hint {
    min-height: 30px;
    padding: 10px 50px 0 50px;
    position: relative;
    color: red;
}
#submit {
    box-sizing: border-box;
}
</style>
<div id="login-container">
    <form id="login-form" ng-submit="login()">
        <div class="legend">后台登录中心</div>
        <hr/>
        <hr class="decoration" />

        <div class="hint">
            <span class="error" data-ng-bind="error"></span>
        </div>

        <fieldset>
            <div class="form-item">
                <input type="text" ng-model="username" placeholder="账  号：" />
            </div>

            <div class="form-item">
                <input type="password" ng-model="password" placeholder="密  码：" />
            </div>

            <div class="form-item" ng-show="showCaptcha">
                <input type="text" ng-model="password" placeholder="验证码：" style="width: 140px; margin-right: 10px;" />
                <img src="{{captchaUrl}}" width="110" />
                <a href="javascript:void(0);" ng-click="refreshCode()" style="line-height:38px;">刷新</a>
            </div>

            <div class="form-action">
                <button id="submit" type="submit" class="btn btn-primary btn-large btn-block">登录</button>
            </div>
        </fieldset>
    </form>
</div>